extends layout/layout
block content
  //内容区
  .main
    if cat == 1
      table.table.order-table
        caption 学生列表
        thead.tab-title
          tr.separate
            th(colspan="5")
          tr
            th UID
            th 用户名
            th 邮箱
            th 性别
            th 注册时间
            th 最近登入时间
            th 操作
        tbody
          if people.length
            each item in people
              tr
                td=item._id
                td=item.username
                td=item.email
                td=item.sex
                td=item.regdate
                td=item.logindate
                td
                  a.btn-reply(href="/admin/user/info?cat=1&uid="+item._id) 查看
                  a.btn-reply.btn-del(href="/admin/user?del=1&uid="+item._id) 删除
    if cat == 2
      table.table.order-table
        caption 老师列表
          a.fl-r.btn-reply(href="/admin/user/add?cat=2") 增加老师
        thead.tab-title
          tr.separate
            th(colspan="5")
          tr
            th UID
            th 用户名
            th 邮箱
            th 性别
            th 所属学校
            th 最近登入时间
            th 操作
        tbody
          if people.length
            each item in people
              tr
                td=item._id
                td=item.username
                td=item.email
                td=item.sex
                td=item.school
                td=item.logindate
                td
                  a.btn-reply(href="/admin/user/info?cat=2&uid="+item._id) 查看
                  a.btn-reply.btn-del(href="/admin/user?del=1&uid="+item._id) 删除
          else
            tr
              td(colspan="8") 暂无老师，点击右上角添加老师
    if cat == 3
      table.table.order-table
        caption 管理员列表
          a.fl-r.btn-reply(href="/admin/user/add?cat=3") 增加管理员
        thead.tab-title
          tr.separate
            th(colspan="5")
          tr
            th UID
            th 用户名
            th 邮箱
            th 级别
            th 最近登入时间
            th 操作
        tbody
          if people.length
            each item in people
              tr
                td=item._id
                td=item.username
                td=item.email
                td=item.rank
                td=item.logindate
                td
                  a.btn-reply(href="/admin/user/info?cat=3&uid="+item._id) 查看
                  a.btn-reply.btn-del(href="/admin/user?del=1&uid="+item._id) 删除
          else
            tr
              td(colspan="6") 暂无管理员，点击右上角添加管理员
    include ../layout/pagenav
            
    