extends ../layout/layout
block content
  .main
    if template === 1
      .grey-tips 我是一个机器人，有什么问题，就问我吧～
        form#q.form-inline.ajax-form(action="/q/robot",method="post")
          input#q(type="text",name="q",class="require")
          button.btn 提交
      #answers
    if template === 2
        form#toteacher.form-inline.ajax-form(action="/question?add=1",method="post")
          table.table.order-table
            caption.bread
              a.parent 提问老师
            thead.tab-title
              tr.separate
                th(colspan="2")
            tbody
              tr
                td.q 问题
                td.aleft
                  textarea(style="width:270px;height:100px;",name="question")
              tr
                td 分类提问
                td.aleft
                  select.fl-l(id="q-select",name="thecat")
                    - var cats = ['无','分类','章节','专题'];
                    each item,index in cats
                      option(value=index)= item 
              tr
                td 提问给
                td.aleft
                  if result.teacher && result.teacher.length
                      each item in result.teacher
                        label(for="#{item._id}") 
                          input(type="checkbox",id=item._id,value="#{item.realname}",name="toteacher")
                          |#{item.realname}

                  else
                    |暂无老师
              tr
                td
                td.aleft
                  button.btn(type="submit") 提问
    if template === 3
      if cat === 1
        //已解决的问题
        table.table.order-table
          if result.q && result.q.length
            caption 你有#{result.count}条问题被解决了
            each item in result.q      
              tbody
                tr.separate
                tr.tab-head
                  td(colspan="2")
                    a 该问题由
                     span.pink【#{item.replyuser}】
                     | 回答于#{item.replydate}
                tr
                  td.q 问题：
                  td.aleft= item.q
                tr
                  td.q 回答：
                  td.aleft= item.a
          else
            caption 你太懒了吧，还从没提问过问题啊！
        include ../layout/pagenav        
      if cat === 2
        //未解决的问题
        table.table.order-table
          if result.q && result.q.length
            caption 你还有#{result.count}条未解决的问题
            each item in result.q      
              tbody
                tr.separate
                tr.tab-head
                  td(colspan="2")
                    a 该问题提交给了
                     span.pink【#{item.toteacher}】
                     |，正在等待回复
                tr
                  td.q 问题：
                  td.aleft= item.q
          else
            caption 你没有未解决的问题，去提个问题吧～
        include ../layout/pagenav
      if cat === 3
        //机器人类别的问题
        table.table.order-table
          if result.q && result.q.length
            caption 你还有#{result.count}条对机器人的提问未解决
              a.pink.fl-r(href="/stu/#{user.username}/question?cat=4") 查看已解决的
            each item in result.q      
              tbody
                tr.separate
                tr.tab-head
                  td(colspan="2")
                    a 该问题正在等待回复
                tr
                  td.q 问题：
                  td.aleft= item.q
          else
            caption 没有对机器人的未解决的问题，
              a.pink(href="/stu/#{user.username}/question?cat=4") 查看已解决的
        include ../layout/pagenav
      if cat === 4
        //机器人类别的问题，已经解决
        table.table.order-table
          if result.q && result.q.length
            caption 你还有#{result.count}条对机器人的提问未解决
              a.pink.fl-r(href="/stu/#{user.username}/question?cat=3") 查看未解决的
            each item in result.q      
              tbody
                tr.separate
                tr.tab-head
                  td(colspan="2")
                    a 该问题正在等待回复
                tr
                  td.q 问题：
                  td.aleft= item.q
                tr
                  td.q 答复
                  td.aleft= item.a
          else
            caption 没有对机器人的已解决的问题，
              a.pink(href="/stu/#{user.username}/question?cat=3") 查看未解决的
        include ../layout/pagenav
    if template === 4
      include question_center


          