.sidebar.sideleft
  div.category-item
    .category.clearfix
      .name 
        a(href="/") 首页
  div.category-item
    .category.clearfix
      .name 
        a 我要提问
      .plus
    ul
      li
        a.item(href="/q/robot") 问机器人
      li
        a.item(href="/q/teacher") 提问老师
      li
        a.item(href="/q/center") 问题中心
  div.category-item
    .category.clearfix
      .name 
       a(href="/stu/#{user.username}/question") 我提问的
      .plus
    ul
      li
        a.item(href="/stu/#{user.username}/question?cat=1") 已解决
      li
        a.item(href="/stu/#{user.username}/question?cat=2") 未解决
      li
        a.item(href="/stu/#{user.username}/question?cat=3") 机器人

  div.category-item
    .name 
      a(href="/stu/#{user.username}") 个人资料